

<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t2.tudocdn.net/553407?w=646&h=284"
      alt="" height="200px"

    >
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular</a></h1>

  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum finibus orci, et sodales velit facilisis eu.
        Cras nec nisl tortor. Pellentesque erat risus, vehicula sed eleifend id, pulvinar ac mi.
      </a>
    </p>

  </div>
</div>
